#viewer{
}
nav{
	top: 0;
	position: fixed;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	padding: 3px;
	width: 100%;
}
section{
	font-size: 0.8em;
	padding-top: 45px;
	padding-bottom: 30px;
	width: 100%;
	height: 100%;
	background-color: #FDFDFD;
	word-wrap: break-word;
}
.thread{
	font-size: 1.2em;
	padding: 5px 10px;
}
.thread:hover{
	cursor: pointer;
	/*background-color: #DDD;*/
}
.res{
	padding: 5px 13px;
}
.res-name{
	color: green;
}
.res-body{
	padding-left: 25px;
}
#jimaku{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: none;
}
#jimaku-res{
	color: white;
	padding: 0;
	font-size: 3em;
	cursor: none;
}
#jimaku-subject{
	background-color: #428bca;
	color: #FFF;
	padding: 0;
	font-size: 0.8em;
}
#jimaku-subject:hover{
	cursor: default;
}

.drag { 
    width:200px; 
    height:200px; 
    margin:0px auto; 
    padding:15px; 
    border:1px dashed #333; 
    background-color:#eee; 
    } 
 
.resize { 
    background-color:#FF0000; 
    padding:10px; 
    } 
.left { 
        float:left; 
        }     
.right { 
    float:right; 
}   