$window-color: #ddd;
$widows-color-to: #333;
$nav-btn: $window-color;
$nav-btn-font: #333;
$border: #cccccc;
$bbs-hover-color: #3399FF;
$bbs-2n-color: #B1FF8E;

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.3);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.5);
}
body#viewer{
	background-color: $window-color;
	position: relative;
}
body#viewer-section{
	// border: 1px solid #ccc;
	overflow-y: auto;
	height: 100%;
}
html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
  font-family: Meiryo, メイリオ, sans-serif;
}
#top-most{
	width: 100%;
}
#bottom-most{
	width: 100%;
}
.container{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}

#task-bar{
	background-color: $window-color;
	border-bottom: 1px solid $border;
	color :#555;
	top: 5;
	position: absolute;
	width: 100%;
	// height: 22px;
	// padding: 2px 0px;
	font-size: 0.8em;
	cursor: default;
	#bbs-title{
		display: inline-block;
		text-align: center;
		width: 95%;
		margin-top: 3px;
	}
	ul{
		padding: 0;
		margin: 0;
		margin-right: 6px;
		position: absolute;
		display: inline-block;
		top: 5;
		right: 0;
		li{
			width: 17px;
			padding: 0;
			margin:0;
			margin-top: 3px;
			list-style: none;
			display: inline-block;
			// background: -webkit-gradient(linear, left top, left bottom, from($window-color), to($widows-color-to));
			background: #fff;
			// border: 1px solid $border;
			text-align: center;
			font-size: 12px;
			cursor: pointer;
			-webkit-border-radius: 2px;
		}
		li:hover{
			background: #407BFB;
			color: #FFF;
		}
		li#close:hover{
			background: #ff5e7b;
			cursor: white;
		}
	}
  display: none;
}
#arrows{
	position: absolute;
	right: 0;
	bottom: 0;
	color: $nav-btn-font;
	cursor: se-resize;
  display: none;
}
nav{
	background-color: $window-color;
	// border-bottom: 1px solid #CCC;
	// padding: 3px;
	width: 100%;
	// height: 10px;
	ul{
		position: absolute;
		top: -5px;
		margin-bottom: 35px;
		height: 0px;
		padding: 0px;
		padding-left: 20px;
		li{
			text-align: center;
			font-size: 20px;
			list-style: none;
			display: inline-block;
			padding: 0;
			// margin: 0;
			cursor: pointer;
			padding: 1px 0px;
			width: 28px;
			height: 25px;
			background-color: $nav-btn;
			// border: 1px solid #ddd;
			color: $nav-btn-font;
			// -webkit-border-radius: 3px;
		}
		li#play{
			margin-left: 10px;
		}
		li:hover{
			cursor: pointer;
			// background: #2C7CFF;
			color: #2C7CFF;
		}
	}
}
// ボタンON時
.on{
	cursor: pointer;
	// background: #2C7CFF;
	color: #2C7CFF;
}
section{
  border-top: 1px solid darken($window-color, 30%);
	font-size: 0.8em;
	padding-bottom: 20px;
	background-color: #FEFEFE;
	word-wrap: break-word;
	color: #555;
}
.thread{
	font-size: 1.2em;
	padding: 5px 10px;
}
.thread:nth-child(2n):hover{
	cursor: pointer;
	background-color: $bbs-hover-color;
	color: #FFF;
}
.thread:nth-child(2n){
	background-color: $bbs-2n-color;
}
.thread:nth-child(2n-1):hover{
	cursor: pointer;
	background-color: $bbs-hover-color;
	color: #FFF;
}
.thread:nth-child(2n-1){
	background-color: #FFF;
}
.bbs{
	font-size: 1.2em;
	padding: 5px 10px;
}
.bbs:nth-child(2n):hover{
	cursor: pointer;
	background-color: $bbs-hover-color;
	color: #FFF;
}
.bbs:nth-child(2n){
	background-color: #B1FF8E;
}
.bbs:nth-child(2n-1):hover{
	cursor: pointer;
	background-color: $bbs-hover-color;
	color: #FFF;
}
.bbs:nth-child(2n-1){
	background-color: #FFF;
}
.res{
	padding: 5px 13px;
}
.res-name{
	color: green;
}
.res-body{
	padding-left: 25px;
}
#jimaku-body{
	padding-top: 19px;
	position: fixed;
	width: 100%;
	height: 100%;
  max-width: 1900px;
  min-width: 300px;
  max-height: 1000px;
  min-height: 300px;
	cursor: none;
}
.bg-air{
	background-color: rgba(0, 0, 0, 0.5);
}
#jimaku-res{
	color: #fff;
	-webkit-text-stroke-color: #222;
	-webkit-text-stroke-width: 2px;
	font-weight: bold;
	font-size: 2.6em;
	cursor: none;
	padding: 0px;
	padding-left: 10px;
  padding-top: 8px;
	margin: 0px;
  margin-top: 13px;
  max-width: 1900px;
  min-width: 300px;
  max-height: 1000px;
  min-height: 300px;
	a{
		color: #FFF;
		-webkit-text-stroke-color: #000;
		-webkit-text-stroke-width: 2px;
		cursor: default;
	}
}
#jimaku-title{
	// background-color: #FFD700;
	background-color: #2C7CFF;
	color: #fff;
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	margin: 0px;
	font-size: 0.8em;
	position: absolute;
	top: 0;
	left: 0;
}
#jimaku-clock{
	margin-left: -4px;
	padding-left: 0px;
}
#jimaku-subject{
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
}
#jimaku-count{
	margin-left: -1px;
}
#jimaku-title:hover{
	cursor: default;
}
#add-bbs-body{
	padding: 10px 15px;
}
#add-bbs-body{
	font-size: 0.8em;
	color: #777;
}

#config-window{
	padding-left: 20px;
	padding-right: 20px;
	#font-sample{
		padding: 0px;
		margin: 0px;
		display: inline;
	}
	p{
		margin-top: 5px;
		margin-bottom: 0px;
	}
}
