- # encoding: utf-8
!!!
%html{:lang => "ja"}
	%head
		%meta{:content => "charset=UTF-8"}
		%link{:href => "../scss/font-awesome.min.css", :media => "all", :rel => "stylesheet"}
		%link{:href => "../scss/style.css", :media => "all", :rel => "stylesheet"}
		/ jQuery
		%script{:src => "../lib/jquery-2.1.1.min.js"}
		/ Air
		%script{:src => "../lib/air/AIRIntrospector.js"}
		%script{:src => "../lib/air/AIRAliases.js"}
		%script{:src => "../js/scripts.js"}
	%body#view
		%span#jimaku-title
			%i.fa.fa-clock-o
			%span#jimaku-clock
			/ %i.fa.fa-bullhorn
			%span#jimaku-subject
				2ch字幕ソフト(仮称)
		%div#jimaku-res