!!!
%html{:lang => "ja"}
	%head
		%link{:href => "../scss/style.css", :media => "all", :rel => "stylesheet"}
		-# font-awesome
		%link{:href => "../bower_components/font-awesome/css/font-awesome.min.css", :media => "all", :rel => "stylesheet"}
		-# jQuery
		%script{:src => "../lib/jquery-2.1.1.min.js"}
		-# Air
		%script{:src => "../lib/air/AIRIntrospector.js"}
		%script{:src => "../lib/air/AIRAliases.js"}
		%script{:src => "../js/scripts.js"}
		-# viewerの初期化（Grantコンパイラの都合でcoffee/viewer.coffeeより移植）
		:javascript
			viewerIniInitialize = (function(_this) {
				return function() {
					_this.viewerObj = new window.Viewer();
					_this.viewerObj.setNavListener();
					_this.viewerObj.windowSettings();
					return _this.viewerObj.loadViewerSection();
				};
			})(this);
	%body#viewer(onLoad="viewerIniInitialize()")
		%div.container
			-# %div#task-bar
			-# 	%span#bbs-title
			-# 		AirCast
			-# 	%ul
			-# 		/ %li#maximize
			-# 		/ 	%i.fa.fa-plus
			-# 		%li#minimize
			-# 			%i.fa.fa-minus
			-# 		%li#close
			-# 			%i.fa.fa-times
			%nav
				%input(type="hidden" id="url" value="")
				%ul
					%li#play
						%i.fa.fa-play
					%li#pause
						%i.fa.fa-pause
					%li#air
						%i.fa.fa-eye
					%li#get-thread
						%i.fa.fa-list
					%li#get-bbs
						%i.fa.fa-home
					%li#add-bbs
						%i.fa.fa-plus
					/ %li#write
					/ 	%i.fa.fa-pencil-square-o
					%li#config
						%i.fa.fa-gear
		%i.fa.fa-arrows#arrows
