!!!
%html{:lang => "ja"}
	%head
		%link{:href => "../scss/font-awesome.min.css", :media => "all", :rel => "stylesheet"}
		%link{:href => "../scss/style.css", :media => "all", :rel => "stylesheet"}
		/ jQuery
		%script{:src => "../lib/jquery-2.1.1.min.js"}
		/ Air
		%script{:src => "../lib/air/AIRIntrospector.js"}
		%script{:src => "../lib/air/AIRAliases.js"}
		%script{:src => "../js/scripts.js"}
	%body#viewer(onLoad="viewerIniInitialize()")
		%div.container
			%dkv#task-bar
				%ul
					/ %li#maximize
					/ 	%i.fa.fa-plus
					%li#minimize
						%i.fa.fa-minus
					%li#close
						%i.fa.fa-times
			%nav
				%input(type="hidden" id="url" value="")
				%button#play
					%i.fa.fa-play
				%button#pause
					%i.fa.fa-pause
				%button#air
					%i.fa.fa-eye
				%button#get-thread
					%i.fa.fa-list
				%button#get-bbs
					%i.fa.fa-home
				%button#add-bbs
					%i.fa.fa-plus
		%i.fa.fa-arrows#arrows